@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    scrollbar-width:none;
}

body {
    background-color: #eeeeee;
}

h1 {
    font-size: 50px;
    line-height: 64px;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #3d3d3d;
}

h4 {
    font-size: 20px;
    color: #3d3d3d;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #444444;
    margin: 15px 0 20px 0;
}


.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

.logo {
    position: relative;
    width: 150px;
    height: auto;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: #b3ff6b;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #ffffff;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "" ;
    width: 30%;
    background: #ffffff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#hero {
    background-image: url("/assets/banner.png");
    background-color: #c0e94e;
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}


#hero h1 {
    color: #eeeeee;
}

#hero p {
    color: #6e8507;
}

#product1 {
    text-align: center;
    text-decoration: none;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    text-decoration: none;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    text-decoration: none;
    background-color: #dbdbdb;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;   
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
    text-decoration: none;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
    text-decoration: none;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #818683;
    padding-right: 4px;
    cursor: pointer;    
}

footer .follow i:hover {
    color: #b3ff6b;
    transition: 0.2s;
}

#page-header{
    width: 100%;
    height: 100px;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#page-header2 {
    background-image: url('/assets/banner2.png');
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#page-header2 h2 {
    color: #ffffff;
}

#page-header2 p {
    color: #ffffff;
}

#error h1 {
    color: #48cc14;
    font-size: 250px;
    text-align: center;
    position: relative;
    top: 290px;
    right: 10px;
}

#error h2 {
    font-size: 150px;
    text-align: center;
    position: relative;
    top: 30px;
}

#error h4 {
    font-size: 80px;
    text-align: center;
    position: relative;
    top: 280px;
}

.body-reg{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    z-index: 2;
    left: 400px;
}

.form-box2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    z-index: 2;
    right: 100px;
}

.login-cont {
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: 0.5 ease-in-out;
}

.register-cont {
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: 0.5 ease-in-out;
}

.top span {
    color: black;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: black;
    margin-left: 5px;
}

header {
    color: #969696;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms {
    display: flex;
    gap: 10px;
}

.input-field {
    font-size: 15px;
    background: rgba(225, 225, 225, 0.2);
    color: black;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: 0.2 ease;
}

.input-field:hover, .input-field:focus{
    background: rgba(225, 225, 225, 0.25);
}

::-webkit-input-placeholder {
    color: black;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: black;
}

.sumbit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(225, 225, 225, 0.7);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.sumbit:hover {
    background: rgba(225, 225, 225, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.btn-form2 {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(225, 225, 225, 0.7);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-form2:hover {
    background: rgba(225, 225, 225, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: small;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.faq {
    padding: 80px;
}

.faq h2 {
    position: relative;
    bottom: 60px;
}

.faq h3 {
    color: #b7beba;
}

.form-container2 {
    padding: 80px;
}

.form-container2 h2 {
    color: #818683;
    font-size: 40px;
    margin-bottom: 25px;
}

.form-container2 form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ayuda2 {
    font-size: 17px;
    color: #818683;
    margin-bottom: 10px;
}

.ayuda , textarea {
    padding: 17px 14px;
    background-color: #cecece;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    color: #818683;
    margin-bottom: 20px;
}

.btn-form2 {
    background-color: #881892;
    width:  100%;
    cursor: pointer;
}

.btn-form2:hover {
    background-color: #681170;
    transition: .3s ease;
}

.whatsapp-link {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #48cc14;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.whatsapp-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.volver {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6f8b1f;
    font-size: 20px;
    position: relative;
    top: 400px;
    text-decoration: none;
}

.volver:hover {
    color: #495c13;
    transition: .3s ease;
}

#product-form {
    background-color: #c0e94e;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
}

#product-form label {
    color: #363636;
    font-weight: bold;
}

#product-form input[type="text"],
#product-form input[type="number"] {
    background-color: #f7f7f7;
    border: none;
    color: #1a1a1a;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

#submit-button {
    background-color: #728f22;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-button:hover {
    background-color: #495c13;
}

.products {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: flex-start;
    gap: 20px;
}

.product {
    width: 100%;
    width: 300px;
    padding: 10px 12px;
    border: 1px solid #e4e4e4;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    text-decoration: none;
    background-color: #dbdbdb;
}

.product span {
    color: #606063;
    font-size: 14px;
    text-decoration: none;
}

.product img {
    width: 100%;
    border-radius: 20px;
}

.product h5 {
    font-size: 1.1rem;
    color: #1a1a1a;
    width: 100%;
    border-radius: 20px;
    padding-top: 7px;
    font-size: 14px;
    text-decoration: none;
}

.product:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product-table {
    width: 100%;
    background-color: #e4e4e4;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th,
.product-table td {
    border: 1px solid #a8a8a8;
    padding: 10px;
    text-align: center;
    color: #1a1a1a;
}

.product-table th {
    background-color: #c0e94e;
    font-weight: bold;
}

.product-table td img {
    width: 50px;
    height: auto;
}

.otros {
    position: relative;
    left: 530px;
}

@media (max-width: 799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        z-index: 100;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: bottom 114000% right 5%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    #page-header {
        background-size: 140%;
        padding: 0 80px;
        height: 30vh;
        background-position: top 120px right 50%; 
    }
    #page-header2 {
        background-size: 230%;
        padding: 0 80px;
        height: 30vh;
        background-position: top 20% right 78%; 
    }
    #subtotal {
        width: 100%;
    }
    #cart table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        white-space: nowrap;
    }
    .form-box {
        width: 100%;
        height: 420px;
        left: 0px;
        
    }
    .login-cont {
        left: 0px;
        width: 100%;
    }
    .form-box2 {
        width: 100%;
        height: 420px;
        left: 0px;
    }
    .register-cont {
        left: 0px;
        width: 100%;
    }
    .form-container {
        padding: 30px;
    }
    .faq {
        padding: 30px;
        padding-top: 80px;
    }
    .logo {
        position: relative;
        width: 150px;
        height: auto;
        right: 80px;
    }
    form {
        width: 100%;
    }
    #error h2 {
        left: 80px;
    }
    #error h1 {
        left: 10px;
    }
    #error h4 {
        left: 80px;
    }
    #error a {
        left: 80px;
    }
    .form-container2 {
        padding: 30px;
    }
    .form-container2 form {
        width: 100%;
    }
    #page-header2 h2 {
    position: relative;
    top: 10px;
    }

    .product-table{
    width: 100%;
    overflow-x: auto;
    display: block;
    white-space: nowrap;
    }
    #cart {
    width: 100%;
    overflow-x: auto;
    display: block;
    white-space: nowrap;
    }
    .otros {
        position: relative;
        left: 0;
        width: 100%;
    }
    #bar {
        position: relative;
        left: 50px;
    }
    #userBtn {
        position: relative;
        left: 30px;
    }
}